*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ignore generated command outputs
Commit
Push
Manage

# React / Vite
Tecniapp web/node_modules/
Tecniapp web/dist/
Tecniapp web/.env
Tecniapp web/.firebase/
Tecniapp web/.idea/

# Logs
*.log

# Vite
Tecniapp web/.vite/